/* Local CSS for English web version */

.intro {
    .tagline { width: 15.2rem; }
    p { padding-left: 19rem; }

    .nav-tabs {
        border: none;
    }
}

.team-photo {
    width: 50%;
    border-radius: 50%
}

@media screen and (max-width: 768px) {
    h2 { padding-left: 0; }
}

.p-smaller {
    font-size: 1.25rem !important;
}
